.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gradient-bg {
    position: absolute;
    overflow:hidden;
    height: 100%;
    width: 100%
}
/* gradient-bg-style */
.gradient-bg::before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 100%;
    top: 0%;
    left: -50%;
    box-shadow: 0 0 350px 300px rgb(142, 68, 173);
    animation: animate_2 10s infinite;
}

.gradient-bg::after {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 100%;
    top: 0%;
    right: -50%;
    bottom: -1000px;
    box-shadow: 0 0 350px 100px rgba(93, 248, 240, 1);
    animation: animate_3 10s infinite;
}

/* animate-1 */
@keyframes animate_1 {
    25% {
        box-shadow: 0 150px 300px rgba(243, 86, 146, 1);
    }

    50% {
        box-shadow: 0 150px 300px rgb(142, 68, 173);
    }

    75% {
        box-shadow: 0 150px 300px rgba(93, 248, 240, 1);
    }

    100% {
        box-shadow: 0 150px 300px rgba(243, 86, 146, 1);
    }
}

@-webkit-keyframes animate_1 {
    25% {
        box-shadow: 0 150px 300px rgba(243, 86, 146, 1);
    }

    50% {
        box-shadow: 0 150px 300px rgb(142, 68, 173);
    }

    75% {
        box-shadow: 0 150px 300px rgba(93, 248, 240, 1);
    }

    100% {
        box-shadow: 0 150px 300px rgba(243, 86, 146, 1);
    }
}

/* animate-2 */
@keyframes animate_2 {
    25% {
        box-shadow: 0 0 350px 300px rgb(142, 68, 173);
    }

    50% {
        box-shadow: 0 0 350px 100px rgba(93, 248, 240, 1);
    }

    75% {
        box-shadow: 0 0 350px 300px rgba(243, 86, 146, 0.7);
    }

    100% {
        box-shadow: 0 0 350px 300px rgb(142, 68, 173);
    }
}

@-webkit-keyframes animate_2 {
    25% {
        box-shadow: 0 0 350px 300px rgb(142, 68, 173);
    }

    50% {
        box-shadow: 0 0 350px 100px rgba(93, 248, 240, 1);
    }

    75% {
        box-shadow: 0 0 350px 300px rgba(243, 86, 146, 0.7);
    }

    100% {
        box-shadow: 0 0 350px 300px rgb(142, 68, 173);
    }
}

/* animate-3 */
@keyframes animate_3 {
    25% {
        box-shadow: 0 0 350px 100px rgba(93, 248, 240, 1);
    }

    50% {
        box-shadow: 0 0 350px 300px rgba(243, 86, 146, 0.7);
    }

    75% {
        box-shadow: 0 0 350px 300px rgb(142, 68, 173);
    }

    100% {
        box-shadow: 0 0 350px 100px rgba(93, 248, 240, 1);
    }
}

@-webkit-keyframes animate_3 {
    25% {
        box-shadow: 0 0 350px 100px rgba(93, 248, 240, 1);
    }

    50% {
        box-shadow: 0 0 350px 300px rgba(243, 86, 146, 0.7);
    }

    75% {
        box-shadow: 0 0 350px 300px rgb(142, 68, 173);
    }

    100% {
        box-shadow: 0 0 350px 100px rgba(93, 248, 240, 1);
    }
}
