@page "/"

@using Mindash.CurrentWeek.Web.Data.DTOS
@using Mindash.CurrentWeek.Web.Services
@using System.Threading

@implements IDisposable

@inject ICurrentWeekService CurrentWeekService
@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

<style>
    body {
        background-color: #1B181F;
        color: white;
    }


    .area {
        background: #310359;
        background: -webkit-linear-gradient(to left, #8f94fb, #310359);
        width: 100%;
        height: 100vh;
    }
</style>

<div class="gradient-bg" />

<div>
    <div class="center">
        <h1 style="font-size: 150pt;">@CurrentTime.CurrentWeek</h1>
        <h2 style="font-size: 30pt;">@CurrentTime.DateString</h2>
        <h2 style="font-size: 30pt;">@CurrentTime.TimeString</h2>
    </div>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>


@code
{
    public CurrentTimeViewModel CurrentTime { get; set; } = new LocadingCurrentTimeViewModel();

    string DateDescription { get; set; } = "";
    Timer aTimer;

    protected override void OnInitialized()
    {
        aTimer = new Timer(Tick, null, 0, 1000);
    }

    private void Tick(object _)
    {
        CurrentTime = CurrentWeekService.GetCurrentWeek();

        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        aTimer?.Dispose();
    }
}